.logout-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout-loading {
  text-align: center;
}

.logout-loading p {
  font-size: 18px;
  font-weight: 500;
}